html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: sans-serif;
  background-color: #f9eed3;
  font-family: 'Dosis', sans-serif;
  margin: 0;
  background-image: url("../assets/bg_paper.png"); }
  @media screen and (min-width: 60em) {
    body {
      margin: 2em; } }

#border-top, #border-bottom, #border-left, #border-right {
  display: none;
  background: #668b8a;
  position: fixed; }
  @media screen and (min-width: 60em) {
    #border-top, #border-bottom, #border-left, #border-right {
      display: block; } }

#border-left, #border-right {
  top: 0;
  bottom: 0;
  width: 2em; }

#border-left {
  left: 0; }

#border-right {
  right: 0; }

#border-top, #border-bottom {
  left: 0;
  right: 0;
  height: 2em; }

#border-top {
  top: 0; }

#border-bottom {
  bottom: 0; }

header {
  text-align: center;
  width: 100%;
  vertical-align: center;
  padding: 2em 0em; }
  @media screen and (min-width: 60em) {
    header {
      height: 14em;
      text-align: left; } }
  header nav {
    text-align: center;
    display: inline-block;
    width: 100%; }
    @media screen and (min-width: 60em) {
      header nav {
        width: auto;
        margin-right: 2em;
        margin-top: -2em;
        box-sizing: border-box;
        float: right; }
        header nav::after {
          clear: both;
          content: "";
          display: block; } }
    header nav ul {
      width: 100%;
      padding: 0px;
      display: table;
      list-style: none;
      margin: 0; }
      header nav ul::after {
        clear: both;
        content: "";
        display: block; }
    header nav a {
      text-transform: uppercase;
      color: white; }
    header nav li {
      margin: 0 0.5em 0.5em 0;
      box-sizing: border-box;
      display: inline-block;
      width: 6em;
      padding: 2em 0em;
      background-color: #a62e2e;
      text-align: center;
      box-shadow: 0.25em 0.25em 0px 0px rgba(0, 0, 0, 0.5); }
      @media screen and (min-width: 60em) {
        header nav li {
          width: 5em;
          float: left;
          padding: 4.5em 0em; } }
      header nav li:hover {
        background-color: #475c5b; }
  header #header-title {
    z-index: 5;
    display: inline-block;
    color: #101010;
    padding: 1em 1em;
    vertical-align: top;
    text-align: center;
    font-size: 1em; }
    @media screen and (min-width: 60em) {
      header #header-title {
        text-align: left;
        margin-right: 1em; } }
    header #header-title h1 {
      font-size: 3em;
      margin: 0;
      line-height: 1em; }
      @media screen and (min-width: 60em) {
        header #header-title h1 {
          font-size: 4em; } }
  header svg {
    position: absolute;
    z-index: -1;
    top: -60px;
    left: -30px; }
  header #header-circle {
    fill: #d9ad57; }

a {
  text-decoration: none;
  color: white; }

h1 {
  font-family: 'Old Standard TT', serif; }

section {
  display: block;
  padding: 2em 0em; }
  section#about {
    background-color: #c6ba9b; }
  section#contact {
    background-color: #a47c64;
    padding-bottom: 5em; }
  section h1 {
    background-color: #475c5b;
    box-shadow: 0.25em 0.25em 0px 0px rgba(0, 0, 0, 0.5);
    display: inline;
    padding: 0.25em 1em;
    color: white;
    font-size: 2em; }
  section p {
    margin: 2em 1em 0 1em;
    font-size: 1.5em; }
    @media screen and (min-width: 60em) {
      section p {
        margin: 2em 10em 0 10em; } }

#portfolio-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em; }
  #portfolio-container::after {
    clear: both;
    content: "";
    display: block; }

.portfolio-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  background-color: #c6ba9b;
  margin-bottom: 2em;
  text-align: center;
  padding: 2em;
  /*&:nth-child(even) {
    background-color:$blue;
  } */ }
  @media screen and (min-width: 60em) {
    .portfolio-item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .portfolio-item:last-child {
        margin-right: 0; } }
  .portfolio-item:last-child {
    margin-right: 0; }
  .portfolio-item h2 {
    font-family: Old Standard TT;
    font-size: 1.5em; }
  .portfolio-item p {
    margin: 0;
    text-align: justify;
    font-size: 1.15em; }

.portfolio-image {
  width: 75%;
  display: inline-block; }
  @media screen and (min-width: 60em) {
    .portfolio-image {
      width: 45%;
      float: left;
      margin-right: 1em; }
      .portfolio-image::after {
        clear: both;
        content: "";
        display: block; } }
  .portfolio-image > img {
    max-width: 100%; }

.portfolio-links {
  list-style: none;
  padding: 0; }
  .portfolio-links li {
    display: inline-block;
    background-color: #a47c64;
    color: white;
    padding: 0.5em; }
    .portfolio-links li:hover {
      background-color: #668b8a; }
  .portfolio-links a {
    color: white; }

.portfolio-skills {
  list-style: none;
  padding: 0;
  text-align: left;
  font-size: 0.75em;
  margin-bottom: 0; }
  .portfolio-skills li {
    display: inline-block;
    border: 1px solid gray;
    padding: 0.5em; }
    .portfolio-skills li:first-child {
      border: none; }

.about-skills {
  display: block; }
  @media screen and (min-width: 60em) {
    .about-skills {
      display: inline-block;
      margin: 0em 2em; } }
  .about-skills i {
    font-size: 4em;
    color: #f9eed3; }
  .about-skills h2 {
    font-family: 'Old Standard TT', serif;
    color: #a62e2e; }

#skills {
  text-align: center;
  margin: 1em 2em;
  display: block; }

/*# sourceMappingURL=main.css.map */
